/* .AllItems{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 5vh;
    grid-gap: 1vw;
    
} */
/* 
.card{
    align-items: center;
}

.content{
    min-height: 80vh;
}

.grid-deck{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */
.product-title {
    height:75px;
}
.imgCard{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}